extends layout/layout.pug

include mixin/_mixin.pug

mixin plan_compare(version, title, sub_title, desc)
  section.plan__item
    span.plan__version= version
    h4.plan__title= title
    h5.plan__sub-title= sub_title
    p.plan__desc= desc
      block

mixin plan_compare_content(title)
  .plan__content
    .plan__content__title= title
    block


mixin apply-list__item(title)
  li.apply-list__item
    .apply-list__title= title
    if (block)
      p.apply-list__desc
        block

//- header
block head
  +head_block({
    title: '課程資訊'
  })

//- content
block current 
  - var currentUrl = "course-info"

block content
  +post_item('課程制度', 'rule')
    p.
      這個課程有所謂的#[strong 「淘汰制」]，週一至週五每一天都必須在學習系統內報告進度（今天學了哪些東西），兩週內每日進度報告累積缺交三次及淘汰。

  +post_item('收費方式', 'charge')
    p.
      首先，課程#[strong 前兩個月為試用觀察期]，不需要繳交任何費用。我們希望你先進來體驗課程，覺得適合自己再來付費。若是在這期間內決定課程不適合自己，可以無條件退出。
      <br/><br/>
      開課兩個月後需要繳交保證金 5000 元以及選擇學費方案，一共有 AB 三種方案，依據求職意願可選擇的方案不同。
      <br/><br/>
      若是有求職意願（目前還不是工程師，但想要成為工程師，課程結束之後會出去求職），可以選擇「A 求職方案」或是「B 無條件買斷」。

  .plan-compare
    +plan_compare('Plan A', '求職方案', '1.5 倍的月薪 or FREE',
      '「A 求職方案」很簡單，是程式導師實驗計畫一直堅持的收費方式：「結業後兩個月內若找到工作，學費總額就是 1.5 倍的月薪；找不到工作者費用全免」。')
      +plan_compare_content('結業後沒找到工作？')
        p 如果你有求職意願，也跟完了課程沒有被淘汰，結果最後還找不到工作，那我們就會認為是計劃的疏失，是我們必須要改進計畫內容，因此不收任何學費。
      +plan_compare_content('順利找到工作了！')
        p 相對地，如果你順利找到了工作，代表這個計畫幫助良多，因此學費會是 1.5 倍的月薪。

    +plan_compare('Plan B', '無條件買斷', '直接花錢買整個課程',
      '若是沒有求職意願，只能選擇「B 無條件買斷」，這個方案很簡單，就是直接花錢買整個課程。')
      +plan_compare_content('沒有淘汰制')
        p 如還記得前面說的淘汰制嗎？若是選擇無條件買斷，就沒有淘汰制了，因此適合時間不固定，無法穩定持續學習卻又想要學習網站開發的人。
      +plan_compare_content('適合已經是工程師的你')
        p 除此之外，無條件買斷也適合已經是工程師，想要再加強基礎的人。另外還有一種比較特殊的案例，若是你有求職意願而且對求職非常有把握，也可以選擇「無條件買斷」，因為根據收費機制，只要最後找到的工作月薪大於 36k，無條件買斷就比較划算。

  .full-bg.my-5
    section.compare-table
      +post_item('方案比一比', 'compare')
        .table-responsive-sm
          table.table.table-hover.table-bordered.table-striped.text-left
            thead
              tr
                th
                th A 求職方案
                th B 無條件買斷
            tbody
              tr
                td 適合對象
                td 有求職意願的人，未來想要成為工程師的人
                td 1. 已經是工程師<br>2. 時間一波一波，比較難固定產出，但想要衝一波學習網站開發的人
              tr
                td 免學費機制
                td 結業後兩個月內若找到工作，學費總額就是 1.5 倍的月薪；找不到工作者全免
                td 無，固定價格
              tr
                td 心得
                td 週一至週五每一天都必須在學習系統內報告進度
                td 無硬性規定
              tr
                td 淘汰規則
                td 兩週內每日進度報告累積缺交三次即淘汰
                td 無淘汰規則
              tr
                td 繳費方式
                td(colspan="2") 學費付費時間十分彈性。若是有經濟上的困難，可以等「課程結束」以後再分期付款，最多可以分到 12 期零利率。
                  | 若是有其他困難也可以再討論付費相關事宜。
              tr
                td 試用期
                td(colspan="2") 課程前兩個月為試用觀察期，不需繳交任何費用。
              tr
                td 保證金
                td(colspan="2") 開課兩個月後繳交保證金 5000 元。
              tr
                td 價格
                td *1.5 倍的月薪<br>
                  | （依據歷屆學員的資料，月薪中位數約為 43000 元，學費就是 64500 元）
                td 55000 元
        p.
          首選了付費方案以後基本上就無法變更，除非原本選「A 求職方案」，但是後來發現自己沒有求職意願，那有兩條路可以選擇：
          <br/><br/>
          #[strong 1. 繼續上課，改為「B 無條件買斷方案」]
          <br/>
          #[strong 2. 退出課程，但必須把學費（一個月 12500 元）繳清]
          <br/><br/>
          例如說小明在第二個月開始時選了「A 求職方案」，在課程第二個月結束時發現自己並沒有求職意願，想退出課程，就代表他多上了一個月的課，因此必須繳清的學費就是 12500 元。
          <br/>
          想知道學費方案為什麼這樣訂，請參考#[a(href="faq.html") 常見問題] 。
      +post_item('什麼時候要交學費？', 'timeline')
        p.
          最後，這個計畫最不用擔心的就是付費問題。我們知道許多想要轉職的人在經濟上可能都有一些壓力，因此學費付費時間十分彈性。儘管是在兩個月後就選擇付費方案，但如果有困難，可以等「課程結束」以後再分期付款，最多可分到 12 期零利率，若是有經濟上的困難也可以再討論付費相關事宜。
          <br/><br/>
          備註： 學費總額指的是含保證金的價格，例如說 B 方案即是保證金 5000 元再額外付學費 50000 元。而「找到工作」指的是拿到 offer，若是拿了 offer 但沒有上班也算在內。如果上班之後因為試用期不通過而被開除，依然算是找到工作。
          <br/><br/>
          若你已經是工程師，但也有求職意願，而且也願意以月薪 1.5 倍做為學費，也可以選擇 A 方案。

  .apply__container
    .section.apply
      .pic
        img(src="image/img_apply.svg", alt="")
      .apply__content
        +post_item('報名方式', 'registration')
          ol
            +apply-list__item('填寫 Google 表單（一些基本資料）')
            +apply-list__item('去研究什麼是 Scratch，並且做出一個小作品')
              | 只要是任何你覺得完整的作品就好，沒有 idea 的話可以參考 CS50。這個只是想測驗你有基本的自學能力而已，所以不用做得太複雜（不用有關卡）
            +apply-list__item('解出 Codewar 裡面任意三個題目')
              | Codewar 是一個程式解題的平台，請參考這篇並解出這篇裡面任意三個題目。解完以後請寫一篇解題的心得（例如說如何從什麼都不會到了解什麼是迴圈，或者是解題的時候卡關的地方等等）
              <br><br>
              | 根據前人的經驗，沒有任何程式基礎的話上課會上的很趕很趕，所以強烈建議你在報名前自己先預習很基礎的程式知識。如果你毫無程式基礎，可參考 codecademy 或任何網站先預習 JavaScript。
            +apply-list__item('寫報名信到：huli@lidemy.com')
              | 上面三個都做完之後，請寫信到：huli@lidemy.com
              <br><br>
              | 標題請打：[報名] 程式導師實驗計畫第四期 — huli
              <br>
              | （請把 huli 換成你自己的暱稱）

  .full-bg
    .letter-template
      +post_item('報名信內容', 'letter')
        p.
          報名結果公告那天（2020/06/08），無論有沒有錄取你都會收到信件，絕對不會有無聲卡的情形發生。總而言之，會讓你知道收到報名信了，也會讓你知道你有沒有錄取。（但是沒錄取的通知信有可能是罐頭信件就是了，不好意思）
          <br><br>
          在填寫報名表前強烈建議可參考：#[a(href="faq.html") 如何決定錄取與否？對計畫的反思以及對報名信的建議]。
        ol
          +apply-list__item('自我介紹（讓我更瞭解你）')
          +apply-list__item('報名這個計畫的理由')
          +apply-list__item('若成功錄取之後，你的時間安排為何')
            | 例如說目前待業，每天都有 8 小時可以寫程式；或是目前在職，但是晚上七點到十點會自學等等
          +apply-list__item('你未來想做什麼？')
            | 純粹好奇而已，回答前可以參考這一篇
          +apply-list__item('平時有寫東西的習慣嗎？')
            | 像是部落格、讀書心得、電影心得或者是旅遊日記都可以，有的話可以多談談這部分或附上網址，沒有的話也沒關係
          +apply-list__item('Scratch 作品連結 & 做完 Scratch 作品的心得')
          +apply-list__item('Codewar 帳號 & 解 Codewar 題目的心得')
          +apply-list__item('任何你想跟我分享的東西')
            | 例如說你寫的小說、你畫的圖、你的一篇廢文等等。
          .copy__container
            textarea(id="copy__text")
              | 1. 自我介紹
              | 2. 報名這個計畫的理由
              | 3. 若成功錄取之後，你的時間安排為何
              | 4. 你未來想做什麼？
              | 5. 平時有寫東西的習慣嗎？
              | 6. Scratch 作品連結 & 做完 Scratch 作品的心得
              | 7. Codewar 帳號 & 解 Codewar 題目的心得
              | 8. 任何你想跟我分享的東西
            button.copy__btn(data-toggle="tooltip" data-placement="top" title="Copy me" data-clipboard-target="#copy__text") 複製報名表內容
        p.
          收到信件之後大概兩三天內會回覆一個罐頭回信，讓你知道有收到了。若是過一週都沒收到回信，麻煩請私訊粉絲團詢問。請記得，Google 表單填完跟寄信之後才算是報名成功，兩者缺一不可。

  include layout/cta_block.pug
  script(defer src="js/clipboard.bundle.js")
