extends layout/layout.pug

include mixin/_mixin.pug

//-content
block current
  - var currentUrl = "index"

block head
  +head_block({
    title: '首頁'
  })

mixin features__item(title)
  li.features__list__item
    p.title= title
    p.desc
      block

mixin methods__item(title)
  li.methods__item
    .pic
    p.title= title
    p.desc
      block

mixin experience__item(author) 
  li.previous-experience__list-item
    .previous-experience__list-item-text
      block
    .previous-experience__list-item-author
      div.author-name= author.name
      div.author-tag= author.tag

mixin schedule__list(name, month, day)
  li.schedule__list
    .schedule__list__time
      span.time__month= month
      span.time__day= day
    .schedule__list__name= name

mixin target__dialog(type, name, theme)
  .target__dialog(class= theme)
    .target__avatar
      .target__avatar__img
      .target__avatar__name
        | #{type}
        span= name
    .target__bubble
      block

block content
  section.main-visual__container
    .main-visual
      h1.project__title
        .project__title__num 第五期
        .project__title__name 程式導師計畫
      h2.project__desc 不喊口號也不誇大成效，開放透明的 #[strong 網頁前後端線上學習計畫]
        span 試著用六個月的時間，培養出一個找得到工作且基礎紮實的網頁工程師。
          
    
  section.section.features.anchor-features
    +common_title('課程特色', 'anchor-features')
    ul.features__list
      +features__item('技術脈絡')
        | 學程式跟學歷史一樣，要掌握的是脈絡而不是單點。在這邊基礎為主，工具為輔，藉由連貫的課程帶你認識技術脈絡，也培養紮實的基本功。
      +features__item('學習社群')
        | 藉由學習系統以及群組，認識不同背景的同學，從彼此身上學習，也能夠互相砥礪，創造出良好的學習氛圍。我們鼓勵交流，卻不強制。
      +features__item('動手實作')
        | 學程式光看是沒有用的，一定要動手做，藉由作業培養實作能力。二十四週的課程，每一週都有作業，每個作業都會有人批改。
      +features__item('自學能力')
        | 在這裡不只學程式，也學習如何學習。課程中後期並不會一步步帶著你，而是留下一部分的自學空間，培養自學能力。課程是一時的，學習是一輩子的。
      +features__item('資訊透明')
        | 課綱、作業、心得、成效、反省，在這裡每一項東西都是對外公開的。我希望你徹底瞭解這個課程在幹嘛，再決定要不要報名。
      +features__item('直播解惑')
        | 除了錄好的線上課程以外，還有不定期直播，開放各式各樣的提問，現場幫你解答。
    .pic.features__pic.rellax(data-rellax-speed="2" data-rellax-percentage="0.5")
      img(src="./image/img_features.svg")

  section.section.methods.anchor-methods
    +common_title('教學方式', 'anchor-methods')
    p.methods__desc
      | 課程一共有 26 週，前 24 週學習前後端基礎，最後 2 週分組做期末專案。上課方式為觀看錄製好的線上課程影片，碰到問題可以隨時找助教跟老師求救。
      | 每一週都會有一個作業，寫完以後會由助教或老師批改，從中提升程式能力。
    ul.methods__list
      +methods__item('26 週前後端開發課程')
        | 課程一共有 26 週，前 24 週學習前後端基礎，最後 2 週分組做期末專案。
      +methods__item('線上課程影片')
        | 上課方式為觀看錄製好的線上課程影片，碰到問題可以隨時找助教跟老師求救。
      +methods__item('每週作業以及批改')
        | 每一週都會有一個作業，寫完以後會由助教或老師批改，從中提升程式能力。
      +methods__item('社群互動系統')
        | 透過距離剛剛好，不會太近也不會太遠的課程交流平台，可以分享自己的學習心得，也可以看見其他同學的，彼此討論交流。


  .full-bg
    section.section.about-teacher__container.anchor-about-teacher.rellax(data-rellax-speed="4" data-rellax-percentage="0.5")
      +common_title('導師介紹', 'anchor-about-teacher')
      .about-teacher.lazy(data-bg="image/bg_grid.png")
        .about-teacher__content
          p.about-teacher__desc
            | 小時候開始自學程式，考大學時因為討厭物理化學所以念了個與程式不相干的文組科系，唸到大二就休學出去工作了。在新加坡工作過兩年半，是專職的前端工程師。
            | 一直都對教學有很大的熱忱，相信把話講得清楚又明白是一種專業，相信分享與交流可以讓世界更美好。
            <br/><br/>
            | 我不喜歡把自己講的很厲害，也不喜歡用學經歷說明什麼——我都用作品說話。 底下是我寫過的幾篇文章：
          .about-teacher__list
            a(href='https://medium.com/hulis-blog/frontend-engineer-guide-297821512f4e' target='_blank' rel="noopener") 零基礎的小明要如何成為前端工程師？
            a(href='https://medium.com/@hulitw/front-end-learning-path-55201571ecfe' target='_blank' rel="noopener") 紮實的網頁前端學習路線與資源推薦
            a(href='https://medium.com/@hulitw/ramen-and-api-6238437dc544' target='_blank' rel="noopener") 從拉麵店的販賣機理解什麼是 API
            a(href='https://medium.com/hulis-blog/4-years-review-7fb7edc52687' target='_blank' rel="noopener") 成為前端工程師的四週年回顧
            a(href='https://medium.com/@hulitw/learn-coding-9c572c2fb2' target='_blank' rel="noopener") 當我們在學程式時，要學的到底是什麼？

    section.section.schedule__container.anchor-schedule.rellax(data-rellax-speed="3" data-rellax-percentage="0.5")
      +common_title('課程時程', 'anchor-schedule')
      .schedule
        ul.schedule__list__container
          +schedule__list('報名開始', '02', '22')
          +schedule__list('報名結束', '03', '29')
          +schedule__list('結果通知', '04', '05')
          +schedule__list('課程開始', '04', '12')
          +schedule__list('課程結束', '10', '12')

    section.section.target__container.anchor-target
      +common_title('適合怎樣的人', 'anchor-target')
      .target
        .rellax(data-rellax-speed="3" data-rellax-mobile-speed="8" data-rellax-percentage="0.5")
          +target__dialog('新手', '小美', 'theme-student')
            .
              我是#[strong 新手]，適合這堂課嗎？
          +target__dialog('導師', 'Huli', 'theme-mentor')
            | 原本這個課程就是為了完全沒有程式基礎的新手而生，歷屆也有許多零基礎且非相關背景轉職成功的案例。
            | 此課程以新手為主，希望能循序漸進且穩紮穩打，幫助零基礎的人轉職成合格的工程師。

        .rellax(data-rellax-speed="3.5" data-rellax-mobile-speed="10" data-rellax-percentage="0.5")
          p.target__dialog__line
            i(class="fas fa-volume-up")
            | 有程式基礎的 小花 - 加入聊天室
          +target__dialog('有基礎的', '小花', 'theme-student')
            .
              我有#[strong 程式基礎]，適合這堂課嗎？
          +target__dialog('導師', 'Huli', 'theme-mentor')
            | 有程式基礎的人在課程的起步會比較快，但在網頁這一塊依然有許多東西要學習，因此課程也適合有基礎的人。

        .rellax(data-rellax-speed="2" data-rellax-mobile-speed="5" data-rellax-percentage="0.5")
          p.target__dialog__line
            i(class="fas fa-volume-up")
            | 工程師 泡泡 - 加入聊天室
          +target__dialog('工程師', '泡泡', 'theme-student')
            .
              我#[strong 已經是工程師了]，適合這堂課嗎？
          +target__dialog('導師', 'Huli', 'theme-mentor')
            .
              課程特色之一是基礎紮實，歷屆也有許多已經在工作的工程師發現自己基礎不足而回來上課，想要打好基礎。
              工程師建議觀看#[a(href="syllabus.html") 詳細課綱]，若是覺得對自己有幫助再來報名課程。

  .wave.lazy(data-bg="image/wave.svg")
  section.section.previous-experience.anchor-previous-experience.lazy(data-bg-multi="url(image/index_portrait_1.svg), url(image/index_portrait_2.svg)")
    +common_title('歷屆學員心得', 'anchor-previous-experience')
    ul.previous-experience__list
      +experience__item({name: "Yakim hsu", tag: "第三期學生"})
          p
            | 萬分感謝 Huli，雖然課程中的互動沒有很多，但最後找工作階段非常謝謝 Huli 不斷得給我建議也一起討論工作如何選擇，
            | 不只是 mentor，也是個人很好又很強的朋友。
            <br/><br/>
            | Huli 總說不喜歡強迫學生要加油，但很神奇的還是會鼓勵到大家，很喜歡課程用心安排的每個環節。
            | 能作為第三期的學生非常感恩，參加課程是我 2019 年最超值的決定。
      +experience__item({name: "Roro", tag: "第二期學生"})
          p
            | 整體課程跟原本的期待差不多，覺得最大優點就是課綱的設計，
            | 例如像會進化版本的留言版，學習跟實作上都可以得到很好的驗證。
            <br/><br/>
            | huli 回應快速，讓人十分信賴，即使是不確定的部分，也是找答案神人，
            | 很快可以回一篇直指問題的 link，讓你獲得充分的解答，有好導師可以問問題真的是一件非常幸福的事情。
      +experience__item({name: "Amelie", tag: "第一期學生"})
          p
            | 每次交作業發 PR 後 huli 的 code review、
            | Slack 上的即時回答、在學生還沒準備好時狠狠地打槍 — huli 一直在給學生最關鍵、最簡潔的 feedback。
            <br/><br/>
            | 帶著筆電聽一個老師在 100 人的課堂上講課或是跟線上資源自學，都遠遠比不上直接向 mentor 請教的來得直接，
            | 我認為這才是真正有效的網路課程，huli 的意見，是教科書上沒有、這行前輩總結出的，最珍貴的經驗。
  +cta_block('更多計畫介紹','introduce.html','報名資訊', 'course-info.html')