mixin common_title(title, id, alignType='center')
  h3.common__title(class=`${alignType}`)
    a(href=`#${id}`)= title

mixin post_item(title, id, theme)
  section.section.post(class=`${id} ${theme ? theme : ''}`)
    +common_title(title, id, 'left')
    .post__content
      block

mixin cta_block(leftText, leftLink, rightText, rightLink)
  section.section.cta.lazy(data-bg="image/img_cta_bg.svg")
    h3.cta__title 想要一起來學習程式嗎？
    p.cta__content 第五期現正招生中，到三月底截止，強烈建議你先把官網的資訊都看完，全盤了解過後再做決定，有任何問題都可以透過 Lidemy 粉絲專頁與我們聯絡！
    .cta__operate
      a(href=`${leftLink}`).cta__button.cta__button-apply= leftText
      a(href=`${rightLink}`).cta__button.cta__button-mail= rightText